<!DOCTYPE html>
<html>
  <head>
    <title>Jobsatosu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="margin: 0 auto;width: 70%">
    <div style="float: right">
      <a href="/feedreader/index">Current Job Listings</a>
      <a href="/archive">Archive</a>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
